<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<style>
    .red1{
        color: red;
    }
    .red2{
        color: green;
    }
    .red3{
        color: blue;
    }
</style>
<div id="div1">
    <h1 v-bind:class="'red'+n">颜色变化</h1>
    <input type="text" v-model="n">
    <input type="radio" v-model="n" value="1"> 绿
    <input type="radio" v-model="n" value="2"> 红
    <input type="radio" v-model="n" value="3"> 蓝
</div>
<script>
    const app = new Vue({
        el: '#div1',
        data: {
            n:1
        }
    });
</script>
</body>
</html>